<ion-header>
  <ion-navbar>
    <ion-title color="primary">Add Event</ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">Cancel
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  {{isEdit}}
  <ion-list>
    <ion-item>
      <ion-label floating>Name</ion-label>
      <ion-input type="text" [(ngModel)]="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Description</ion-label>
      <ion-input type="text" [(ngModel)]="description"></ion-input>
    </ion-item>
    <ion-item *ngIf="!isEdit">
      <ion-label floating>When</ion-label>
      <ion-datetime displayFormat="MMM D h:mm A" pickerFormat="MMM D h:mm A" [(ngModel)]="when"></ion-datetime>
    </ion-item>
    <ion-item *ngIf="!isEdit">
      <ion-label floating>Where</ion-label>
      <ion-input type="text" [(ngModel)]="where"></ion-input>
    </ion-item>
  </ion-list>
  <div padding>
    <button ion-button full (click)="updateOrCreate()">{{isEdit ? 'Create' : 'Update'}}</button>    
  </div>  
</ion-content>
